body{
    background-image: url("../image/background-texture-2110724__340.jpg");
}
#card {
    background-image: url("../image/background-texture-2110724__340.jpg");
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
#fundoo {
    margin-left: 39%;
    color: brown;
}
#login{
    margin-left: 45%;
    color: blue;
}
.input-group-prepend {
    margin-left: 10%;
}

.form-control {
    margin-right: 10%;
}
#loginbtn{
    margin-left: 46%;
}
input.error {
    border: 1px dotted red;
}
label.error{
    width: 100%;
    color: red;
    font-style: italic;
    margin-left: 120px;
    margin-bottom: 5px;
}
label{
    width: 100px;
}